[Unit]
Description=QEMU KVM%i
After=docker.service

[Service]
EnvironmentFile=/etc/environment
Environment=BRIDGE_IF=docker0
Environment=INSTANCE=%i
Environment=HOSTNAME=%H
ExecStartPre=/usr/bin/docker pull ianblenke/kvm
ExecStartPre=/usr/bin/docker run --rm --name %p --net=host --privileged -v /opt/bin:/install ianblenke/kvm
ExecStart=/run.sh
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15
